.adstop{
    margin-top: 60px;
}

.adstop .app_wrapper {
    display: flex;
    justify-content: center;
}

.adstop .app_wrapper  img{
    width: 100%;
}

.ans-key-sec{
    margin-top: 60px;
}

.ans-key-sec .inner-anskey .heading{
    text-align: center;
    font-size: 35px;
    padding: 10px 0 13px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white);
    background: var(--color-golden);
    text-shadow: 3px 2px 3px black;
}


.ans-key-sec .app_wrapper{
    display: flex;
    justify-content: start;
}

.ans-key-sec .app_wrapper .inner-anskey{
    width: 80%;
    border: 2px solid var(--color-golden);
}
.ans-key-sec .app_wrapper .inner-adssec{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.ans-key-sec .app_wrapper .inner-anskey ul{
    padding: 0 15px 15px
}

.ans-key-sec .app_wrapper .inner-anskey ul li{
    display: flex;
    padding: 13px 0 0;
    align-items: self-start;
}

.ans-key-sec .app_wrapper .inner-adssec img{
    width: 180px;
}

.ans-key-sec .inner-anskey .right-hand-icon{
    padding: 3px 10px 0 0;
    height: auto;
    width: auto;
}

@media screen and (max-width: 1074px) {
    .ans-key-sec .app_wrapper .inner-adssec img{
        width: 160px
    }
}

@media screen and (max-width: 960px) {
    .ans-key-sec .app_wrapper .inner-adssec img{
        width: 120px
    }
}



@media screen and (max-width: 767px) {
    .adstop,
    .ans-key-sec{
        margin-top: 40px;
    }
    .ans-key-sec .inner-anskey .heading{
        font-size: 25px;
    }
    .ans-key-sec .app_wrapper{
        display: block;
    }
    .ans-key-sec .app_wrapper .inner-anskey{
        width: 100%;
    }
    .ans-key-sec .app_wrapper .inner-adssec{
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
}