.job-detail{
    margin-top: 60px;
}

.job-detail .app_wrapper .heading{
    text-align: center;
    font-size: 35px;
    padding: 10px 0 13px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white);
    background: var(--color-golden);
    text-shadow: 3px 2px 3px black;
}

.job-detail .app_wrapper{
    display: flex;
    /* align-items: start; */
}


.job-detail .app_wrapper .inner-jobdetail{
    width: 80%;
    border: 2px solid var(--color-golden);
}

.job-detail .app_wrapper .inner-adsection{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.job-detail .app_wrapper .inner-adsection img{
    width: 180px;
}

.job-detail .inner-jobdetail .post-details{
    padding: 0 10px;
}

.job-detail .inner-jobdetail .post-name,
.job-detail .inner-jobdetail .post-details p{
    font-size: 20px;
    font-weight: normal;
    display: flex;
}

.job-detail .inner-jobdetail .post-name>span:first-child,
.job-detail .inner-jobdetail .post-details p>span:first-child{
    color: var(--color-blue);
    font-weight: 500;
    margin-right: 10px;
}


.job-detail .vacancy-name{
    border-top: 2px solid var(--color-golden);
    border-bottom: 2px solid var(--color-golden);
    padding: 0 10px;
    text-align: center;
}

.job-detail .vacancy-name h2{
    text-align: center;
    font-size: 35px;
    color: var(--color-blue);
    text-shadow: 1px 1px 2px black;
}

.job-detail .vacancy-name p{
    font-size: 20px;
    margin: 10px 0;
}

.job-detail .vacancy-name p:last-child{
    margin-bottom: 2.8rem;
}

.job-detail a{
    color: var(--color-darkblue);
}

.job-detail a:hover{
    color: var(--color-blue);
    text-decoration: none;
}

.job-detail .important-details{
    display: flex;
    /* padding: 0 10px; */
    border-bottom: 2px solid var(--color-golden);
}

.job-detail .important-details>div{
    flex: 1;
    border-right: 2px solid var(--color-golden);
    /* padding: 20px 0; */
}
.job-detail .important-details>div:last-child{
    border: none;
}

.job-detail .important-details ul{
    list-style: disc;
    margin-left: 20px;
    padding: 20px 10px;
}

.job-detail .important-details .app-fees ul{
    padding-left: 10px;
}

.job-detail .important-details ul li{
    font-size: 20px;
    margin-bottom: 10px;
}

.job-detail .important-details ul li:last-child{
    margin-bottom: 0;
}

.job-detail .important-details ul li>span:first-child{
    margin-right: 10px;
    color: var(--color-black);
    font-weight: 500;
}

.job-detail .important-details .imp-dates li:first-child span:nth-child(2){
    font-weight: 700;
    color: green;
}
.job-detail .important-details .imp-dates li:nth-child(2) span:nth-child(2){
    color: red;
    font-weight: 700;
}
.job-detail .important-details .imp-dates li:nth-child(3) span:nth-child(2){
    font-weight: 700;
}
.job-detail .important-details .imp-dates li:nth-child(4) span:nth-child(2){
    font-weight: 700;
    color: yellowgreen
}


.job-detail .important-details h2{
    color: var(--color-white);
    background: var(--color-darkblue);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 15px 10px;
}


.job-detail .total-vacancy h2{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px solid var(--color-golden);
    margin: 0;
    padding: 30px 10px;
}

.job-detail .total-vacancy h2 span:last-child{
    animation: change-color 3s infinite;
    font-weight: 700;
}

@keyframes change-color {
    0% { color: var(--color-golden); }
    33% { color: var(--color-black); }
    66% { color: red; }
    100% { color: var(--color-blue); }

}

.job-detail .total-vacancy h2:nth-child(2){
    color: var(--color-blue);
}

.job-detail .responsiveTable tbody tr td:nth-child(odd) {
    padding: 30px 8px;
}



.job-detail .total-vacancy table ul{
    list-style: disc;
    margin-left: 15px;
    line-height: 1.5;
}


.total-vacancy .edu-post-detail-head,
.total-vacancy .tech-post-detail-head{
    color: var(--color-darkblue);
    border-top: 2px solid var(--color-golden);
}

.total-vacancy tr:nth-child(even) td{
    border-right: 1px solid var(--color-white)!important;
}
.total-vacancy tr:nth-child(even) td:last-child{
    border: none!important;
}

.job-detail .how-fill h2{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px solid var(--color-golden);
    margin: 0;
    padding: 30px 10px;
}

.job-detail .how-fill ul{
    font-size: 18px;
    list-style: disc;
    margin-left: 15px;
    padding: 15px 10px;
}

.job-detail .how-fill ul li{
    margin-bottom: 10px
}

.job-detail .how-fill ul li:last-child{
    margin-bottom: 0;
}

.job-detail .important-links h2{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px solid var(--color-golden);
    margin: 0;
    padding: 30px 10px;
}

.job-detail .important-links h2:first-child{
    border-top: 2px solid var(--color-golden);
}

.job-detail .important-links h2>span{
    animation: change-color 3s infinite;
}


.job-detail .important-links td{
    animation: borderchange 3s infinite;
    border: 1px solid;
    font-size: 20px;
    padding: 20px 5px;
}
.job-detail .important-links td:first-child{
    font-weight: 700;
    color: var(--color-blue);
}

@keyframes borderchange {
    0% { border: 1px solid red; }
    20% { border: 1px solid green; }
    60% { border: 1px solid yellow; }
    80% { border: 1px solid rgb(225, 0, 255); }
}


.job-detail .total-vacancy{
    border-bottom: 2px solid var(--color-golden);
}










@media screen and (max-width: 1074px) {
    .job-detail .app_wrapper .inner-adsection img{
        width: 160px
    }
}

@media screen and (max-width: 991px) {
    .job-detail .inner-jobdetail .post-name,
    .job-detail .inner-jobdetail .post-details p{
        border-bottom: 1px solid #bebebe;
        padding-bottom: 15px;
    }
    .job-detail .inner-jobdetail .post-details p:last-child{
        border-bottom: none;
    }
    .job-detail .inner-jobdetail .post-name>span:first-child,
    .job-detail .inner-jobdetail .post-details p>span:first-child{
        display: block;
    }
    .job-detail .inner-jobdetail .post-name,
    .job-detail .inner-jobdetail .post-details p{
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .job-detail .app_wrapper .inner-adsection img{
        width: 120px
    }
}

@media screen and (max-width: 767px) {
    .job-detail{
        margin-top: 40px;
    }
    .job-detail .app_wrapper .heading{
        font-size: 25px;
    }
    .job-detail .app_wrapper{
        display: block;
    }
    .job-detail .app_wrapper .inner-jobdetail{
        width: 100%;
    }
    .job-detail .app_wrapper .inner-adsection{
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
    .job-detail .inner-jobdetail .post-name,
    .job-detail .inner-jobdetail .post-details p{
        font-size: 18px;
    }
    .job-detail .vacancy-name h2{
        font-size: 25px;
    }
    .job-detail .vacancy-name p{
        font-size: 18px;
    }
    .job-detail .vacancy-name p:last-child {
        margin-bottom: 1.8rem;
    }
    .job-detail .important-details{
        display: block;
    }
    .job-detail .total-vacancy h2,
    .job-detail .how-fill h2,
    .job-detail .important-links h2{
        font-size: 20px;
    }

}


@media screen and (max-width: 640px) {
    .job-detail .responsiveTable tbody tr {
        border: none;
    }
    .job-detail .responsiveTable td{
        padding-left: 0!important;
    }
    .job-detail .responsiveTable td .tdBefore:after{
        content: ':'
    }
    .job-detail .responsiveTable td .tdBefore {
        position: unset;
        display: block;
        width: fit-content;
        margin-bottom: 5px;
    }
    .job-detail .responsiveTable tbody tr td:nth-child(odd) {
        padding: 8px;
    }
    .total-vacancy tr:nth-child(even) td{
        border: none!important;
    }
}


@media screen and (max-width: 450px) {
    .job-detail .important-links td{
        font-size: 18px;
    }
}