.sylbs-top-ads,
.syl-links-sec{
    margin-top: 60px;
}

.sylbs-top-ads .app_wrapper{
    display: flex;
    justify-content: center;
}

.sylbs-top-ads .app_wrapper img{
    width: 100%;
}


.syl-links-sec .app_wrapper{
    display: flex;
    justify-content: start;
}

.syl-links-sec .inner-syllabus ul{
    padding: 0 15px 15px
}

.syl-links-sec .inner-syllabus ul li{
    display: flex;
    padding: 13px 0 0;
    align-items: self-start;
}

.syl-links-sec .inner-syllabus .heading{
    text-align: center;
    font-size: 35px;
    padding: 10px 0 13px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white);
    background: var(--color-golden);
    text-shadow: 3px 2px 3px black;
}

.syl-links-sec .inner-syllabus{
    width: 80%;
    border: 2px solid var(--color-golden);
}

.syl-links-sec .inner-ads{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.syl-links-sec .inner-ads img{
    width: 180px;
}

.syl-links-sec .inner-syllabus .right-hand-icon{
    padding: 3px 10px 0 0;
    height: auto;
    width: auto;
    min-width: max-content;
}



@media screen and (max-width: 1074px) {
    .syl-links-sec .inner-ads img{
        width: 160px
    }
}

@media screen and (max-width: 960px) {
    .syl-links-sec .inner-ads img{
        width: 120px
    }
}



@media screen and (max-width: 767px) {
    .sylbs-top-ads,
    .syl-links-sec{
        margin-top: 40px;
    }
    .syl-links-sec .inner-syllabus .heading{
        font-size: 25px;
    }
    .syl-links-sec .app_wrapper{
        display: block;
    }
    .syl-links-sec .inner-syllabus{
        width: 100%;
    }

    .syl-links-sec .inner-ads{
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
}