.why-us-sec{
    margin-top: 60px;
    text-align: center;
}

.why-us-sec .app_wrapper{
    border: 2px solid var(--color-grey);
}

.why-us-sec h3{
    font-size: 25px;
    color: var(--color-white);
    background: var(--color-darkblue);
    margin-top: 0;
    padding: 10px 7px;
}

.why-us-sec p{
    margin-bottom: 20px;
    padding: 0 10px;
}


@media screen and (max-width: 767px) {
    .why-us-sec{
        margin-top: 40px;
    }
    .why-us-sec h3{
        font-size: 20px;
    }
}