/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.app_wrapper{
  margin: 0 120px;
}

@media screen and (max-width: 1299px) {
  .app_wrapper{
    margin: 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  .app_wrapper{
    margin: 0 60px;
  }
}

@media screen and (max-width: 767px){
  .app_wrapper {
      margin: 0 45px;
  }
}

@media screen and (max-width: 600px){
  .app_wrapper {
      margin: 0 35px;
  }
}

@media screen and (max-width: 575px){
  .app_wrapper {
      margin: 0 15px;
  }
}